<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/perfil.css">
  <link rel="shortcut icon" href="/imgs/box.png" type="image/x-icon">
  <title>Perfil</title>
</head>

<body>
  <div class="conteiner">
    <%-include('includes/nav')%>

    <div class="panel">
      <header class="top">
        <div class="infos">
          <h1>Perfil do Usuário</h1>
        </div>
        <i class="bi bi-moon-fill theme"></i>
      </header>

      <main class="main">
        <%if(erro.length > 0){%>
        <p class="error"><%=erro%></p>
        <%}%>

          <article>
            <div class="infos-user">

              <div class="photo-user">
                <img src="<%=user.photo%>" alt="user">
                <h3><%=user.name%></h3>
              </div>

              <div class="options">
                <button id="passwordbtn">Alterar senha</button>
                <button id="photo">Alterar imagem</button>
              </div>

              <div class="info">
                <h4>Informações do usuário</h4>
                <p><span>Id:</span> <%=user._id%></p>
                <p><span>E-mail:</span> <%=user.email%></p>
                <p><span>Administrador:</span> <%= user.admin ? 'Sim' : 'Não' %></p>
              </div>

            </div>
         </article>
      </main>

      <dialog class="modal" id="img">
        <div class="headerModal">
          <p>Alterar imagem</p>
        </div>

          <div class="mainModal">
            <form method="POST" action="/home/perfil/updatePhoto" enctype="multipart/form-data">
              <label class="custum-file-upload" for="file">
                <div class="icon">
                  <i class="bi bi-card-image"></i>
                </div>
                <div class="text">
                  <span>Click to upload image</span>
                  <span id="preview"></span>
                </div>
                <input type="file" id="file" name="file" accept="image/*">
              </label>

              <input type="submit" value="Enviar">
            </form>
        </div>

        <div class="footerModal">
          <button class="closeButton">Fechar</button>
        </div>
      </dialog>

      <dialog class="modal" id="pass">
        <div class="headerModal">
          <p>Alterar senha</p>
        </div>

        <div class="mainModal">
          <form method="POST" action="/home/perfil/updatePassword">
            <label for="password">Nova senha</label>
            <input type="text" id="password" name="password" required>
            <label for="repetPassword">Digite novamente</label>
            <input type="text" name="repetPassword" id="repetPassword" required>
            <input type="submit" value="Enviar">
          </form>
        </div>

        <div class="footerModal">
          <button class="closeButton">Fechar</button>
        </div>
      </dialog>

    </div>
  </div>
</body>

<script src="/js/theme.js"></script>
<script src="/js/sources/modals.js"></script>
<script src="/js/utils/perfil.js"></script>
<script src="/js/utils/imageUpload.js"></script>
</html>